body {
  background-image: url("../img/blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding: 2em;
  color: whitesmoke;
}

#title {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

.participants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 3em;
  padding: 2em 1em;
  background: rgba(255,255,255,.3);
  border-radius: 12px;
  border-color: rgba(255,255,255,0.3);
  box-shadow: 0px 0px 40px 0px #ccc;
}

.participants .item {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.participants .item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.participants .item img {
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
}

.participants .item .caption {
  display: block;
  margin-top: 1em;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.participants .item .roles {
  margin-top: 1em;
}

.participants .item .roles > span {
  display: block;
}

.visit-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 240px;
  margin: 4em 0 2em 0;
  padding: 0.5rem 0;
  background-image: url("../img/matrix.gif");
  border-radius: 32px;
  box-shadow: 0px 0px 40px #333;
  text-align: center;
}

.visit-us .card {
  margin: 2em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.visit-us h3 { margin-top: 0; }

#github {
  font-size: 5rem;
  color: #ddd;
}

#github:hover { color: white; }

#github > span {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}