body {
	background-image: url("../img/matrix.gif");
}

main {
	padding: 2em;
	background-color: black;
	color: greenyellow;
}

.participants {
	display: flex;
	margin: 1em;
}

.participants .item {
	display: flex;
	flex-direction: column;
	margin-right: 1em;
	text-align: center;
}
.participants .item:last-child {
	margin-right: 0;
}

.participants .item img {
	border-radius: 50%;
}

.participants .item .caption {
	display: block;
	margin-top: 1em;
	font-weight: 600;
}